body {
    padding:30px;
    font-family: sans-serif;
    font-size:14px;
}

.box {
    margin: 0 auto 25px;
    border: 1px solid;
    padding: 15px;
    border-radius:6px;
}

.important {
    @extend .box;
    background-color:orange;
    border-color:blue;
    em {
        text-decoration: underline;
    }
}

.success {
    @extend .important;
    background-color:green;
    border-color:black;
}