#l-banner {
  height: 25px;
}

#l-content {
  width:80%;
  height: 90%;
  margin: 0 auto;
  background-color: red;
  position:fixed;
  left:10%;
}

#l-navigation-sidebar {
  vertical-align: top;
  width:17%;
  height: 100%;
  float:left;
  background-color:#444c63;
}

#l-navigation {
  width: 90%;
  margin: 0 auto;
}

#l-email-list-wrapper {
  vertical-align: top;
  width:25%;
  height: 100%;
  float:left;
  background-color:#ffffff;
  margin: 0;
}

#l-email-wrapper {
  vertical-align: top;
  width:40%;
  height:100%;
  float:left;
  background-color:#ffffff;
  box-sizing: border-box;
  color:#8ca2ba;
}

#l-email-content {
  padding: 0 20px;
}

#l-email-content-body {
  font-size:0.7em;
  height:100%;
}

#l-email-actions-wrapper {
  vertical-align: top;
  background-color: #ffffff;
}

#l-email-contacts-wrapper {
  vertical-align: top;
  width:18%;
  height:100%;
  float:left;
  overflow:hidden;
  background-color: #ffffff;
}

#l-main-footer {
  height: 5%;
}

