#banner {
  height: 100px;
}

#l-content {
  width:80%;
  margin: 0 auto;
}

#l-navigation-sidebar {
  vertical-align: top;
  width:15%;
  display:inline-block;
  background-color:#444c63;
}

#l-navigation {
  width: 90%;
  margin: 0 auto;
}

#l-email-list-wrapper {
  vertical-align: top;
  width:25%;
  display:inline-block;
  background-color:#ffffff;
  margin: 0;
}

#l-email-wrapper {
  vertical-align: top;
  width:40%;
  display:inline-block;
  background-color:#ffffff;
  padding: 0 20px;
  box-sizing: border-box;
  color:#8ca2ba;
}

#l-email-content-body {
  font-size:0.9em;
}

#l-email-actions-wrapper {
  vertical-align: top;
  background-color: #ffffff;
}

#l-email-contacts-wrapper {
  vertical-align: top;
  width:15%;
  display:inline-block;
  background-color: #ffffff;
}


