/*
 * COMMON SIDE-ACTIONBAR
 */


/*
 * SIDEBAR BUTTON
 */
.new-mail-btn {
  border-radius: 5px;
  color:white;
  background-color:#01caa0;
  border:none;
  font-size: 0.7em;
  padding: 10px;
  font-weight: bold;
  width:70%;
  margin: 10px 20px 0;
}



.navigation-options {
  text-decoration-style: none;
  padding-left: 0;
}

//#add-more-opts:before {
//  content: ">\a0 ";
//}
//#add-more-opts:after {
//  content: "<hr/>";
//}


.navigation-item {
  color:#d7e3f0;
  font-size:0.9em;
  padding: 5px 20px;
}

.personalized-header {
  color:#d7e3f0;
  font-size:0.9em;
  padding-left: 20px;
  text-decoration:none;
  font-weight: normal;
}

.navigation-link {
  color:#d7e3f0;
  font-size:0.9em;
  padding-left: 5px;
  text-decoration:none;
}



/*
 * Email list
 */


.section-header {
  background-color:#f6f9fe;
  border: 1px solid #d7e3ef;
  color:#97b2cf;
  font-size: 0.7em;
  padding: 5px;
}

.email-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height:95.5%;
}

.email-item{
  margin: 0px;
  padding-left: 5px;
  border-bottom: 1px solid #d7e3ef;
  box-sizing: border-box;
}


.check-star-wrapper {
  vertical-align: top;
  float:left;
  width:15%;
}

.email-content-preview-wrapper {
  float:left;
  width:85%;
}
.email-author-wrapper {
  vertical-align: top;
  margin:0;
}

.email-author {
  display:inline;
  font-size: 0.9em;
  color:#708aab;
  background:#ffffff url(../img/select-arrow.png) no-repeat 90% center;
}
.email-content-author {
  -webkit-appearance: none;  /*Removes default chrome and safari style*/
  -moz-appearance: none; /* Removes Default Firefox style*/
  background:#ffffff url(../img/select-arrow.png) no-repeat 90% center;
  width: 100px;
}

.email-time {
  font-size: 0.8em;
  float:right;
  padding-right: 5px;
  color:#6e8ba9;
}

.email-subject {
  font-size: 0.75em;
  color:#7b96b1;
  font-weight: normal;
  margin: 5px 0;
}

.email-content-preview {
  font-size: 0.7em;
  color:#9caec2;
  margin:5px 0;
}

/*
 * EMAIL CONTENT
 */

.email-actions-list {
  margin: 0;
  padding: 5px 0;
  font-size: 0.7em;
  border: 1px solid #d7e3f1;
  background-color: #f6f9fe;
}

.email-action {
  display:inline-block;
  padding: 0 5px;
  border-right: 1px solid #d7e3f1;

}

.email-action-link {
  color:#98b3ce;
  text-decoration:none;
}



/*
 * EMAIL CONTENT SPECIFIC
 */
.email-content-title {
  font-weight: normal;
  text-align: left;
  color:#6e8ca8;
  font-size: 1.5em;
  outline: 0;
}

.email-content-meta-info {
  font-size: 0.7em;
  font-weight: normal;
  color:#708ba8;
}

.email-content-author {
  border-radius: 5px;
  background-color:#cdd6e7;
  border-color:#cdd6e7;
  color:#ffffff;
  font-size: 0.85em;
  font-weight: bold;
  padding: 3px 5px;
}
.email-content-author > option {
  color:#fffff;
}

.email-content-receiver-link {
  color:#708ba8;
  text-decoration:none;
}

.email-content-datetime {
  float:right;
  margin-top:4px;
}

.email-content-img {
  border-radius: 3px;
}

.email-content-reply {
  width:95%;
  border-radius: 5px;
  padding: 10px;
  margin: 0 0 10px;
  font-style: italic;
}


::-webkit-input-placeholder{
  color:#6f8aa5;
}

/*
 * CONTACT LIST
 */

.email-contacts-header {
  background-color:#f6f9fe;
  margin:0;
  font-size: 0.7em;
  padding: 5px;
  font-weight: normal;
  border: 1px solid #d7e3ef;
  color:#94b4cd;
}

.email-contact-list {
  font-size:0.8em;
  list-style: none;
  padding: 0;
  margin:0;
}

.email-contact-list {
  overflow-y: scroll;
  overflow-x:hidden;
  height:100%;
}

.email-contact-list-item {
  padding: 10px 10px;
  font-size: 0.7em;
  display:block;
}

////TODO:Maybe not a pseudo-element and use span instead
//.email-contact-list-item:before {
//  content:"\f111";
//  color:#01caa0;
//}

.email-contact-list-link {
  padding-left: 5px;
  color:#6f8caa;
  text-decoration:none;
}

.email-contact-list-item:nth-child(2n+1){
  background-color:#f6f9fe;
}