/*
 * COMMON SIDE-ACTIONBAR
 */


/*
 * SIDEBAR BUTTON
 */
.new-mail-btn {
  border-radius: 5px;
  color:white;
  background-color:#01caa0;
  border:none;
  font-size: 0.5em;
  padding: 10px;
  font-weight: bold;
  width:90%;
  margin: 10px 10px 0;
}

.new-mail-btn:after {
  content:"\f044";
  padding-left:10px;
}

.new-mail-btn:hover {

}

.navigation-options {
  text-decoration-style: none;
  padding-left: 0;
}

//#add-more-opts:before {
//  content: ">\a0 ";
//}
//#add-more-opts:after {
//  content: "<hr/>";
//}


.navigation-item {
  color:#d7e3f0;
  font-size:0.9em;
  width:90%;
  margin: auto;
}

.personalized-header {
  color:#d7e3f0;
  font-size:0.9em;
  padding-left: 5px;
  text-decoration:none;
  font-weight: normal;
}

.navigation-link {
  color:#d7e3f0;
  font-size:0.9em;
  padding-left: 5px;
  text-decoration:none;
}

.navigation-link:hover {
  text-decoration:underline;
}

/*
 * Email list
 */


.section-header {
  background-color:#f6f9fe;
  border: 1px solid #d7e3ef;
  color:#97b2cf;
  font-size: 0.7em;
  padding: 5px;
}

.email-list {
  list-style: none;
  padding: 5px 0 5px;
  margin: 0;
  overflow: scroll;
}

.email-item{
  margin: 5px;
  padding-left: 0;
}


.check-star-wrapper {
  vertical-align: top;
  float:left;
  width:15%;
}

.email-content-preview-wrapper {
  float:right;
  width:85%;
}
.email-author-wrapper {
  vertical-align: top;
  margin:0;
}

.email-author {
  display:inline;
  font-size: 0.9em;
  color:#708aab;
}

.email-time {
  font-size: 0.8em;
  float:right;
  padding-right: 5px;
  color:#6e8ba9;
}

.email-subject {
  font-size: 0.75em;
  color:#7b96b1;
  font-weight: normal;
  margin: 5px 0;
}

.email-content-preview {
  font-size: 0.7em;
  color:#9caec2;
  margin:5px 0;
}

/*
 * EMAIL CONTENT
 */

.email-actions-list {
  margin-top: 0;
  padding: 5px 0 5px;
  font-size: 0.7em;
  border: 1px solid #d7e3f1;
}

.email-action {
  display:inline-block;
  padding: 0 5px;
  border-right: 1px solid #d7e3f1;

}

.email-action-link {
  color:#98b3ce;
  text-decoration:none;
}

.email-action-link:hover {
  text-decoration:underline;
}

/*
 * EMAIL CONTENT SPECIFIC
 */
.email-content-title {
  font-weight: normal;
  text-align: left;
  color:#6e8ca8;
  font-size: 1.5em;
  outline: 0;
}

.email-content-meta-info {
  font-size: 0.7em;
  font-weight: normal;
  color:#708ba8;
}

.email-content-author {
  border-radius: 5px;
  background-color:#cdd6e7;
  border-color:#cdd6e7;
  color:#ffffff;
  font-size: 0.85em;
  font-weight: bold;
  padding: 3px 5px;
}

.email-content-receiver-link {
  color:#708ba8;
  text-decoration:none;
}

.email-content-datetime {
  float:right;
  margin-top:4px;
}

.email-content-reply {
  width:95%;
  border-radius: 5px;
  padding: 10px;
  margin: 0 0 10px;
  font-style: italic;
}


::-webkit-input-placeholder{
  color:#6f8aa5;
}
