/*
 * Icon Colors
 */
.gold {
  color:gold;
}

.light-blue {
  color:#cdd7e3;
}

.purple {
  color:#7873cf;
}

.emerald {
  color:#01caa0;
}

.bright-orange {
  color:#fc4325;
}

.blue-sky {
  color:#01aef0;
}

.blue-theme {
  color:#98b3ce;
}

.blue-theme-dark {
  color:#98b4cc;
}