/*
 * Icon Colors
 */
.gold {
  color:gold;
}

.light-blue {
  color:#cdd7e3;
}

.purple {
  color:#7873cf;
}

.emerald {
  color:#01caa0;
}

.bright-orange {
  color:#fc4325;
}

.blue-sky {
  color:#01aef0;
}

.blue-theme {
  color:#98b3ce;
}

.blue-theme-dark {
  color:#98b4cc;
}

.personal-border {
  border-left: 5px solid #7974d0;
}

.work-border {
  border-left: 5px solid #01caa0;
}

.social-border {
  border-left: 5px solid #fe4225;
}

.family-border {
  border-left: 5px solid #00adef;
}

/*
 * ADD MORE
 */
div.navigation-item {
border-top: 1px solid #2f3649;
border-bottom: 1px solid #2f3649;
width: 100%;
box-sizing: border-box;
padding-left:20px ;
}
.active-email-pre {
  background-color: #f2f5fa;
}

/*
 * CONTACTS
 */

.available {
  color:#76d181;
}

.away {
  color:#feac02;
}

.dont-disturb {
  color:#d8360f;
}

.offline {
  color:#cbd4e3;
}